# 1. Data to Insights


### 1.1 Business Understanding

The business problem under study here is why the best employees of this company are 
leaving pre-maturely. The company also wants us to predict which employees will be 
leaving next. 

### 1.2 Analytic Solution

We have two main goals:

* We want to understand why the good employees leave
* Predict who will leave next

We propose working with the HR department to gather significant data that can 
probably explain the cause and effect relationship under question.

### 1.3 Feasability Study

Managers in the HR department have not kept an organised report on why employees 
have left but from the data we can determine this through sound data science 
techniques. 

From the data given we have the following information: For our 15000 employees: 
satisfaction level, latest evaluation (yearly), number of project worked on, 
average monthly hours, time spend in the company (in years), 
work accident (within the past 2 years), promotion within the past 5 years, 
department and salary.

### 1.4 Analytical Base Table

This is the data provided by the HR department:

In [6]:
import pandas as pd
df = pd.read_csv("Downloads/HR_comma_sep.csv")
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## 2. Data Exploration

Here our aim is to asses the quality of our data, rectify and clean the data where
it might suffer and run visualizations to help us understand our data graphically.

In [10]:
# 2.1 Data Quality Report

df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000